[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[requires]
python_version = "3.6"

[packages]
jupyter = "*"
pillow = ">=6.2.2"
numpy = "*"
emoji = "*"
zenhan = "*"

[dev-packages]
